/* General */ 
html {
    overflow-x: hidden; 
  } 
  
body { 
    width: 100%; 
    background-color: #d9c6b0; 
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-image: url();
    background-size: contain;
    background-position: center;
} 