/* General */ 
html {
    overflow-x: hidden; 
  } 
  
body { 
    width: 100%; 
    background-color: #d9c6b0; 
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://github.com/JuntaLaw/kadai02/blob/main/img/bgimagemin01.png?raw=true);
    background-size: contain;
    background-position: center;
} 

p {
  text-align: center;
  color: #40200E;
  line-height: 1.7; 
}

h1 {
    font-size: xx-large;
    color: #fff; 
    font-family: serif; 
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
    background-color: #40200E;
    margin: 20px auto; 
    padding: 10px;
}

/* 見出しの書式 h2 */ 
h2 {
    font-size: larger;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold; 
    margin: 10px auto 30px;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px #262322;
} 

/* 見出しの書式　h3 & h4 */
h3{
  font-family: serif;
  color: #40200e;
  font-size: x-large;
  font-weight: bold;
  text-align: center; 
  line-height: 1.5;
} 

/* content */
.content {
  width: 100%; 
}

/* タロットボタン */
.button-area { 
  width: 1000px;
  margin: auto;
  position: relative;
}

.tarot-button{
  width: 300px;
  height: 500px;
  border: solid 10px #eeecec;
  background-image: url(https://github.com/JuntaLaw/kadai02/blob/main/img/bgimagemin02.png?raw=true);
  background-size: cover;
  background-position: center;
  z-index: 1;
  position:absolute; 
  left: 350px;
  top: 50px;
  outline: 0;
  filter: drop-shadow(10px 10px 10px #40200e);
  color: #fff;
  font-size: x-large;
  font-family: serif;
  font-weight: bolder;
}

.tarot-button:hover { 
  filter: drop-shadow(20px 20px 20px #40200e);
} 

/* リセットボタン */ 
.btn{ 
  border: none;
  display: block;
  width: 300px; 
  margin: 20px auto; 
  padding: 10px 0;
  background-color: #40200E;
  color: #d9c6b0; 
  font-size: large; 
  font-family: serif; 
  font-weight: bold;
  text-align: center; 
  letter-spacing: 5px;
  text-transform: uppercase;
  filter: drop-shadow(5px 5px 5px #400);
} 

.btn:hover {
  color: #F2A007;
  filter: drop-shadow(10px 10px 10px #f2a007);
}

.btn:focus {
  outline: 0;
  background-color: #40200E; 
} 

/* メインコンテンツエリア */
.container_main { 
  background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 600px;
    margin: auto;
    text-align: center; 
    display: flex; 
    justify-content: center;
    align-items: flex-start;
} 

.imageboard {
    width: 400px; 
    height: 600px;
    display: flex; 
    margin-left: 20px;
}

.tarot-title {
    margin: 20px 20px 0; 
    padding-bottom: 10px;;
    color: #40200E;
    border-bottom: double 5px #40200E;
} 

#tarot-image {
    border: solid 10px #eeecec;
    background-color: #8C441B;
    width: auto;
    height: 450px;
    margin: auto ; 
    filter: drop-shadow(5px 5px 5px #40200e);
}

.results {
    background-color: rgba(255, 255, 255, 0.5);
    filter: drop-shadow(10px 10px 10px gray); 
    width: 50%; 
    height: auto;
    margin: auto;
    text-align: center; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    gap: 20px;
}

.tarot-text {
  color: #40200E;
  font-size: large;
  font-family: serif;
  font-weight: reguler;
  line-height: 1.7;
  margin: 0px;
  padding: 30px 30px;
  text-align: left;
}

.tarot-keyword, .tarot-score {
  color: #40200E;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.7;
  margin: 0px;
  padding: 0px 30px 30px;
} 

/* 結果ボタンエリア */
.saveOrReset {
  display: flex;
}